.container{
	width: 100px;
	height: 100px;
	background-color: red;
	position: relative;
	animation-name: colorchanger;
	animation-duration: 4s;
	animation-iteration-count: 100;
}

@keyframes colorchanger{
	0%   {background-color:indianred; left:0px; top:0px;}
	25%  {background-color:maroon; left:200px; top:0px;}
	50%  {background-color:lightseagreen; left:200px; top:200px;}
	75%  {background-color:lemonchiffon; left:0px; top:200px;}
	100% {background-color:darkmagenta; left:0px; top:0px;}
}