.Fade figure img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.Fade figure:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
}

.snow{
  height: 50rem;
  width: auto;
}

/* .btn {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
}
  
.btn:hover {
    background-color: #3e8e41;
    color: white;
} */