.Zoom{
    width: 300px;
}

.Zoom figure img {
	width: 300px;
	height: auto;
	transition: .3s ease-in-out;
}
.Zoom figure:hover img {
	width: 350px;
}

.figure{
    width: 300px;
}

.sunset{
    outline: 1rem solid papayawhip;
}