@import "./_flip.scss";
@import "./_blur.scss";
@import "./_zoom.scss";
@import "./_shine.scss";
@import "./_dropout.scss";
@import "./_animation.scss";

html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 120rem;
    width: auto;
}
.titles{
    font-size: 2rem;
}